/***************************
Tortoiseshell Optics Website
***************************/

/* Universal Styles */

* {
  box-sizing: border-box;
}

html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
  color: black;
}

/* Header & Hero Banner */

header {
  max-width: 960px;
  height: 3.5rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: cadetblue;
}

#header-corporate-id {
  float: left;
  display: flex;
  align-items: center;
}

#header-corporate-id img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

p#header-business-name {
  font-size: 1rem;
  color: white;
}

#header-nav {
  height: 1.5rem;
  float: right;
  display: flex;
  align-items: center;
}

p.wide-menu, p.narrow-menu {
  margin-left: 2rem;
  font-size: 1rem;
  color: white;
}

p.narrow-menu {
  display: none;
}

#hero {
  height: 31rem;
  padding-top: 1rem;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#tagline-wrap {
  max-width: 960px;
  margin: 10rem auto;
  display: flex;
  justify-content: flex-end;
}

h1#tagline {
  padding: 1.5rem 5rem;
  position: relative;
  right: -2rem;
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* Service Benefits */



/* Additional Business Information */



/* Footer */

footer {
  max-width: 960px;
  height: 1.5rem;
  margin: 0 auto;
  padding: 4rem;
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer img {
  height: 1.5rem;
  width: auto;
  margin-right: 1rem;
}

p#footer-business-name {
  font-size: 1rem;
}

/* Breakpoint for Tablets & Small Laptops */

@media only screen and (max-width: 1080px) {
  #hero {
    height: 22rem;
    padding-top: 0;
    background-position: 30%;
  }
  
  #tagline-wrap {
    margin: 5rem auto;
  }
  
  h1#tagline {
    padding: 0.75rem 4rem;
    right: 2rem;
    font-size: 1.33rem;
  }  
}

/* Breakpoint for Navigation Responsiveness */

@media only screen and (max-width: 720px) {
  p.wide-menu {
    display: none;
  }
  
  p.narrow-menu {
    display: block;
  }

  #tagline-wrap {
    max-width: 100%;
    margin: 14rem auto;
    background-color: white;
    justify-content: center;
  }
  
  h1#tagline {
    padding: 1rem 0;
    position: static;
    right: auto;
  }

  footer {
    justify-content: center;
  }
  
  p#footer-business-name {
    display: none;
  }
}

/* Breakpoint for Smartphones */

@media only screen and (max-width: 480px) {
  p#header-business-name {
    display: none;
  }
  
  #hero {
    height: 17rem;
    background-position: 20%;
  }

  #tagline-wrap {
    margin: 9rem auto;
  }

  h1#tagline {
    font-size: 1rem;
  }
}
